doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
          
        h1 Welcome login Page 

        from(action="/result" method="GET")
            div
                input(type="text" name="id")
            div
                input(type="password" name="pass")
            div 
                input(type="submit" value="LOGIN")
        
        #{recieveData}